elasticsearch:
  version: 5.4.3
  manage_repo: True
  config:
    cluster.name: elastic
    node.name: node1
    path.data: /var/lib/elasticsearch
    path.logs: /var/logs/elasticsearch
    bootstrap.mmemory_lock: true
    network.host: 127.0.0.1
    http.port: 9200
    discovery.zen.ping.unicast.hosts: ["host1", "host2", "host3"]
    discovery.zen.minimum_master_nodes: 3
    gateway.recover_after_nodes: 3
    node.max_local_storage_nodes: 1
    action.destructive_requires_name: true
  defaults:
    JAVA_HOME: /usr/lib/jvm/java-8-openjdk-amd64
    ES_STARTUP_SLEEP_TIME: 5
    MAX_OPEN_FILES: 65535
    MAX_LOCKED_MEMORY: unlimited
  jvm_opts:
    - '-Xms1g'
    - '-Xmx1g'
