# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## start with default_settings from defaults.yaml ##}
{% import_yaml "elasticsearch/defaults.yaml" as default_settings %}

{% set version       = "%s"|format(salt['pillar.get']( 'elasticsearch:version', default=default_settings.elasticsearch.version)) %}
{% set major_version = version.split('.')[0]|int %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'major_version': major_version,
        'pkg': 'elasticsearch',
        'curator_pkg': 'elasticsearch-curator',
        'curator_bin': 'curator',
        'jdk_pkg': 'openjdk-8-jre-headless',
        'service': 'elasticsearch',
        'systemd_override_conf_file': '/etc/systemd/system/elasticsearch.service.d/override.conf',
        'home_dir': '/usr/share/elasticsearch',
        'plugin_bin': 'bin/elasticsearch-plugin',
        'defaults_file': '/etc/default/elasticsearch',
        'conf_file': '/etc/elasticsearch/elasticsearch.yml',
        'logging_file': '/etc/elasticsearch/log4j2.properties',
        'jvm_opts_file': '/etc/elasticsearch/jvm.options',
        'curator_conf_file': '/etc/elasticsearch/curator.yml',
        'curator_action_conf_file': '/etc/elasticsearch/curator_actions.yml',
        'user': 'elasticsearch',
        'group': 'elasticsearch',
        'repo': {
            'humanname': 'elasticsearch',
            'name': 'deb https://artifacts.elastic.co/packages/' ~ major_version ~ '.x/apt stable main',
            'file': '/etc/apt/sources.list.d/elasticsearch.list',
            'key_url': 'https://artifacts.elastic.co/GPG-KEY-elasticsearch',
        },
        'curator_repo': {
            'humanname': 'elasticsearch-curator',
            'name': 'deb [arch=amd64] https://packages.elastic.co/curator/' ~ major_version ~ '/debian' ~ osrelease ~ ' stable main',
            'file': '/etc/apt/sources.list.d/elasticsearch.list',
            'key_url': 'https://packages.elastic.co/GPG-KEY-elasticsearch',
        }
    },
}, grain='os_family', merge=salt['pillar.get']('elasticsearch:lookup'), default='Debian') %}


{## Merge the flavor_map to the default settings ##}
{% do default_settings.elasticsearch.update(os_family_map) %}

{## Merge in php:lookup pillar ##}
{% set elasticsearch = salt['pillar.get'](
    'elasticsearch',
    default=default_settings.elasticsearch,
    merge=True
) %}
