{%- from "elasticsearch/map.jinja" import elasticsearch with context -%}
---
actions:
  {%- for action in elasticsearch.curator.actions %}
  {{ loop.index }}:
    {{ action|yaml(False)|indent(4) }}
  {%- endfor %}